/*
 * Page stylings
 */
#header {
  @include background-image(linear-gradient($grey-source, $grey-target));
}

#site-name {
  font-family: $times;
  a {
    &:hover, &:active {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

#footer-wrapper {
  @include background-image(linear-gradient($grey-target, $grey-source));
}

#page-wrapper {
  background: $grey-source;
}

@media all and (min-width: 901px) {
  #main-menu {
    position: absolute;
    right: 0px;
    top: 0px;
    clear: both;
  }

  #main-menu-links a {
    @include border-top-radius(0px);
    @include border-bottom-radius(8px);
  }
}

// Responsive menu styles //
a#menu-toggle {
    color: $grey-source;
}

/* --------------- Secondary Menu ------------ */

#block-menu-menu-impressum,
#secondary-menu {
  width: 100%;
  position: relative; /* position: absolute; */
  /* right: 0;
  top: 40px;
  width: 480px; */
}

#block-menu-menu-impressum,
#secondary-menu-links {
  float: left;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 10px 0;
}

#block-menu-menu-impressum a {
  padding: 5px;
}

#block-menu-menu-impressum {
  a:hover,
  a:focus,
  a:active,
  a.active {
    text-decoration: none;
    color: #08131C;
    background-color: #EDEDED;
  }
}

#block-menu-menu-impressum li a {
  color: #08131C;
}

#block-menu-menu-impressum {
  border-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-color: #08131C;
  margin-bottom: 1em;
  ul li {
    list-style-image: none;
    list-style-type: none;
    float: left;
  }
}

#block-menu-menu-impressum {

}

/* End secondary menu links */

/* Block settings */
.sidebar {
  .block {
    padding: 0;
    background-color: #fff;
    border: 0;
  }
  img {
    width: 100%;
    max-width: 200px;
  }
}

/* Views frontpage styles */

@media screen and (min-width: 851px) {
  #main.front {
  margin: 0px;
  background-color: #fff;
  @include background-image(linear-gradient($grey-target, #fff, $grey-target));
  & .views-field-field-image-bild img {
    @include box-shadow(red, 2px 2px 10px);
    }
  }
}

.view-startseite-illustration {
  img {
    width: 100%;
    max-width: 350px;
  }
  td.col-1 {
    text-align: right;
  }
  tr {
    background: none;
  }
  tr td, tr th {
    border: none;
  }
}
