/*
 * Typography styles.
 */
$times: "Times New Roman", Georgia, Times, serif;

.form-disabled input {
  color: $grey-target;
}

.node {
  p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
}
